{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.com/css?family=Caveat|Poppins:400,500,600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2dda32da93.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href="{% static 'accounts/css/home.css' %}">
    <title>Document</title>
</head>
<body>
    <div id="bi">
        <div id= "nav">
            <a href="{% url 'post' %}"><img class= "logo" style="width: 120px; height: 80px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSC6pXxlS5-ylYM7wZXN8gLE_ks__oosN52Fw&usqp=CAU" alt="logo"/></a>
        <div class="menu">
            <a class= "menu-item" href="{% url 'post' %}">Inspirations</a>
            <a class= "menu-item" href="{% url 'contact' %}">Contact Us</a>
            <a class= "menu-item" href="{% url 'login' %}">Sign in</a>
            <a href="{% url 'signup' %}"><button class= "primary-button" style="background-color:rgb(38,166,154);">Join Us</button></a>
        </div>
        </div>
        <div id= "landing-section">
            <style>
                body {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    height: 870px;
                    background-image: url('https://images.unsplash.com/photo-1553442200-cf7160eed361?ixlib=rb-1.2.1&ixid=MnwxMjA3[…]G90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=874&q=80');
                }
            </style>
            <div class= "land" style="margin-top: 140px;">
            <h1 style="font-size: 45px; letter-spacing: 2px; font-weight: 500;">QUEENS OF HOPE<p style="color: rgb(38,166,154); margin-bottom: 0px; font-size: 60px; margin-top: 30px;"> QUEENS OF HOPE</p></h1>
            <p class= "pera" style="color: white; text-shadow: 1px 2px 2px rgb(38,166,154); " >Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ipsam aperiam pariatur atque itaque laborum unde, ea eligendi nobis, natus blanditiis repellendus ab consequuntur nesciunt quo soluta vitae, sed voluptates aut cumque sapiente eaque deserunt perferendis non. Assumenda dolore fugiat, perspiciatis consequuntur provident dignissimos consectetur praesentium magnam? Libero consequuntur, cumque odit sint in architecto, id ab sapiente ipsa totam non labore laborum corporis error, magni ducimus mollitia illum aspernatur? Dolores.</p>
        </div>
        </div>
        </div>
        <div id= "cards">
            <div id= "card" class= "card1">
                <i class="fas fa-cut icon"></i>
                <h2>Gender Based Violence</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt quaerat, consectetur totam obcaecati eius perspiciatis molestiae explicabo reiciendis aspernatur animi. Blanditiis, adipisci quis culpa magnam deleniti rerum officia fuga recusandae!</p>
            </div>
            <div id= "card" class= "card2">
                <i class="fa fa-paint-brush icon"></i>
                <h2>Miscarriage</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi iure adipisci perferendis tempore vel aspernatur possimus recusandae id quas mollitia velit odit voluptates nulla, accusantium molestias, delectus, cum dolor repellat?</p>
            </div>
            <div id= "card" class= "card3">
                <i class="fa fa-shopping-bag icon"></i>
                <h2>Financial Management</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci tenetur quae dolorem porro ratione cum, quam, vel, inventore sunt omnis ipsa vitae minus. Dolore blanditiis magnam, vero officiis cum tempore?</p>
            </div>
            <div id= "card" class= "card4">
                <i class="far fa-smile icon"></i>
                <h2>Stress management</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero delectus id, minus voluptas officiis velit eos recusandae dignissimos quos aliquam expedita fugiat ratione asperiores culpa nulla, error officia vero similique.</p>
            </div>
        </div>
            <div id= page3>
                <div id= "page3i">
                    <h3>Queens Of Hope</h3>
                    <h2>About us!</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta assumenda suscipit ut exercitationem, at iste earum autem iure facilis rem eos repellendus ipsa cumque similique tempore aliquam! Obcaecati, fuga possimus!</p>
                </div>
                <div class= "cardp3">
                    <div class= icon-wrapper>
                        <i class="fa fa-camera icon2"></i>
                    </div>
                    <div>
                        <h4 class= "fresh">Therapy</h4>
                        <p class= "use">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione debitis, error voluptatem et corporis, nobis aliquam veritatis ut id molestiae quia beatae quas laudantium! Optio nihil aperiam perspiciatis maiores quia!</p>
                    </div>
                </div>
                <div class= "cardp3">
                <div class= icon-wrapper>
                    <i class="fa-rocket fa icon2"></i>
                </div>
                <div>
                    <h4 class= "fresh">Care</h4>
                    <p class= "use">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates fuga harum delectus aspernatur quod eligendi, sint laboriosam dignissimos repudiandae illo porro odit nulla aliquid ut aut reprehenderit ipsam laborum tempora!</p>
                </div>
                </div>
                <div class= "cardp3">
                    <div class= icon-wrapper>
                        <i class="fab fa-twitter icon2"></i>
                    </div>
                    <div>
                        <h4 class= "fresh">Moral Support</h4>
                        <p class= "use">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium, pariatur expedita! Eaque tempore quibusdam culpa laboriosam suscipit rerum sint totam, sit est in saepe minima praesentium tempora veniam, cupiditate quod.</p>
                    </div>
                </div>
                <div class= "cardp3">
                    <div class= icon-wrapper>
                        <i class="fab fa-weixin icon2"></i>
                    </div>
                    <div>
                        <h4 class= "fresh">Inspire</h4>
                        <p class= "use">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi dolor id placeat saepe, distinctio rerum ea possimus voluptatibus dolore expedita reiciendis! Officia nostrum magnam placeat magni iste dolore eaque delectus?</p>
                    </div>
                </div>
            </div>
            <div id= page4>
                <div id= "page4i">
                    <h3>Queens Of Hope</h3>
                    <h2>Testimonials!</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis, nesciunt minima dolor pariatur recusandae aut fugit velit itaque, dicta mollitia quo ad, facilis vel? Aspernatur delectus quam dolorem consequuntur dicta.</p>
            </div>
            <div id= "card4">
                <div class= "card4i">
                    <img class= "img4" src="https://mobirise.com/extensions/organicamp/assets/images/face5.jpg"/>
                    <p>Brootblog is a great place to read and learn from a wide range of authors. It’s not muddied up by ads. It’s not fake news. It feels like one of the few pure places to go online.</p>
                    <h3>Loise Mulwa</h3>
                    <h4>GBV surviver</h4>    
                </div>
                <div id= "ht" class= "card4i">
                    <img class= "img4" src="https://mobirise.com/extensions/organicamp/assets/images/"/>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi dolor culpa minus, beatae ut, repudiandae perspiciatis eum nemo pariatur dolores.</p>
                    <h3>Student</h3>
                    <h4>Reader</h4>    
                </div>
                <div class= "card4i">
                    <img class= "img4" src="https://mobirise.com/extensions/organicamp/assets/images/"/>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, cum. Molestiae error aperiam provident alias dolor numquam veniam possimus.</p>
                    <h3>Mary Doe</h3>
                    <h4>Motivational</h4>    
                </div>
            </div>
        </div>
</body>
</html>