{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static 'blog/css/index.css' %}">
    <link rel='stylesheet' href="{% static 'blog/css/base.css' %}">
</head>
<body>
    <div id= "nav1">
        <a href="{% url 'home' %}">Home</a>
    <div class="menu">
        <a class= "menu-item" href="{% url 'create-post' %}">Post encouragement</a>
        <a class= "menu-item" href="{% url 'post' %}">Inspiration </a>
        <a class= "menu-item" href="{% url 'profile' %}">Profile</a>
        <button class= "primary-button" style="background-color:#00b490;">
            {% if user.is_authenticated %}
                <p class= "menu-item">{{ user.get_username }}  <span class = 'logout' ><a style="color: white;" href = "{% url 'logout' %}">Logout</a></span></p>
            
            {% else %}
            <p ><a style="color: white;" href= "{% url 'login' %}">Login</a></p>
            {% endif %}
        </button>
    </div>  
    </div>
    <div class= "main">
        <div>
            <h3 class= "latest">Latest Posts</h3>
            <div class= "cbtn">
                <div class= "logo_flex">
                    <div>
                        <img class= "latest_logo" src="" alt="filte-logo"/>
                    </div>
                    <div> 
                        <p class= "filter_cat">Search</p>
                    </div>
                    <form  name="Searchform" method="GET" action="{% url 'search' %}"> 
                        <input class= "serch_btn" type="text" name="search" placeholder="    Search" />
                        <button class =serch_bt type = 'submit' value="search">search</button>
                    </form>
                </div>
            </div>
            {% block content %}
            {% endblock %}
                <div id= "all_btn">
                    {% for cat in categories %}
                        <a  href= "{% url 'cat-page' cat.slug %}" style='text-decoration: none;'><div class= "cat_btn">{{ cat.name }}</div></a>
                    {% endfor %}
                </div>
            </div>
            </br>
    <div id = "cards">
        {% for post in posts %}
            <div class= "card">
                <a class= "link" href= "{{ post.get_absolute_url }}">
                {% if post.image %}   
                    <img class= "cardimg" src= "{{ post.image.url }}"/>
                {% else %}
                    <img class= "cardimg" src= "http://127.0.0.1:8000/media/blog/post/WhatsApp_Image_2019-06-19_at_17.55.10.jpeg"/>
                {% endif %}
                <div class = "cardcontent">
                    <h3 class= "title">{{post.title|truncatechars:20}}</h3>
                    <p class= "author">{{post.author}}<span class= "date">   |{{ post.date }}</span></p>
                    <p class= "cont">For more details about "{{post.title}}" post click to card </p>
                </div>
            </div>
            </a>
        {% endfor %}
        </div>
    </div> 
</body>
</html>
